.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#NavBar {
  background-color: #282c34;
  text-align: center;
}

#NavBar p {
  color: white;
  font-size: 2em;
  margin: 0;
  padding: 1em;
}

#page-container {
  margin: 0;
  padding: 1em;
}

#card-container{
  display: flex;
  flex-wrap: wrap;
}

#starship-card {
  background-color: cadetblue;
  margin: 0.5em;
  width: 200px;
}

#starship-card h3{
  color: white;
  text-decoration: none;
  padding: 1em;
}

#desc-container {
  display: flex;
  justify-content: center;
}

#description-card {
  background-color: cadetblue;
  margin: 0.5em;
  padding: 1em;
  width: 350px;
  color: white;
}

#pilots {
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
